body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Luckiest Guy';
  font-size: 21px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3cd1cf;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  min-height: 600px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%; /* Imposta la larghezza a 100% */
  font-family: 'Luckiest Guy';
  letter-spacing: 2px;
}

.header h1 {
  margin: 0;
  font-size: 40px;
  color: #1DA1F2;
  flex-grow: 1;
  text-align: center;
  
}

.brand-logo {
  position: absolute; /* Position the logo absolutely */
  top: 20px; /* Add space from the top */
  left: 20px; /* Add space from the left */
  height: 110px;
  width: 110px;
  background: url("assets/img/icon/logo.png") no-repeat center center;
  background-size: cover; /* Ensure the image covers the entire circle */
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

#Home {
  background: #1DA1F2;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* Sposta il pulsante completamente a destra */
}

#Home i {
  font-size: 24px;
}

#Home span {
  font-size: 12px;
  margin-top: 4px;
  font-family: 'Luckiest Guy';
  letter-spacing: 2.5px;
}

#Home:hover {
  box-shadow: none;
  background-color: #2ecc71;
}

.brand-title {
  margin-top: 20px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs, .quiz-setup, .question-container, .result-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.quiz-setup p {
  width: 100%;
  text-align: center;
  position: relative;
  top: 45px;
}

.container h1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #1DA1F2;
}

label, input, button, select {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
}

label:nth-of-type(2) {
  margin-top: 20px;
}

input::placeholder, select::placeholder {
  color: gray;
}

input, select {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  background: #1DA1F2;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin: 10px 5px;
  font-family: 'Luckiest Guy';
  letter-spacing: 5px;
  font-size: 20px;
}

button:hover {
  box-shadow: none;
  background-color: #2ecc71;
}

.quiz-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

#button-container button {
  width: 100%;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  font-family: "Luckiest Guy";
}

#difficolta{
	font-family:"Luckiest Guy";
	letter-spacing: 2px;
}

#username{
	font-family:"Luckiest Guy";
	letter-spacing: 2px;
}

.input-group {
  width: 100%;
}

.question-text {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Luckiest Guy';
}

#option-containers{
	font-family: 'Luckiest Guy';
}

.flag-image {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.final-score {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.quiz-btn {
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.quiz-btn:hover {
  box-shadow: none;
  background-color: #2ecc71;
}

button.selected {
  background-color: #2ecc71;
  color: white;
}

.quiz-setup button.selected {
  background-color: #4CAF50;
  color: white;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  flex-grow: 1;
}

#restart-quiz-btn {
  margin-top: 12em;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  background-color: #1DA1F2;
  cursor: pointer;
}

#restart-quiz-btn:hover {
  background-color: #2ecc71;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    width: 95%;
    min-height: auto;
  }

  .input-row {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }

  .btn-container {
    flex-direction: column;
    gap: 10px;
  }

  button {
    height: 50px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .brand-logo {
    height: 80px;
    width: 80px;
  }

  .brand-title {
    font-size: 1.2rem;
  }

  .question-text {
    font-size: 1rem;
  }

  button {
    height: 50px;
    font-size: 14px;
  }

  .quiz-btn {
    height: 35px;
    font-size: 14px;
  }
  
  .quiz-setup button.selected {
    background-color: #4CAF50;
    color: white;
  }
  
}
