@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("assets/img/icon/logo-quiz.jpg") no-repeat center center;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 20px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}

.inputs, .quiz-setup, .question-container, .result-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.quiz-setup p {
  width: 100%;
  text-align: center;
  position: relative;
  top: 45px; /* Adjust this value to move the paragraph further down */
}

.container h1 {
  position: absolute;
  top: 20px; /* Adjust this value as needed for vertical spacing */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem; /* Optional: Adjust font size if needed */
  color: #1DA1F2;
}

label, input, button, select {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
}

label:nth-of-type(2) {
  margin-top: 20px;
}

input::placeholder, select::placeholder {
  color: gray;
}

input, select {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  background: #1DA1F2;
  height: 60px; /* Increased height for better appearance */
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  margin: 10px 5px;
}

button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; /* Allow the quiz-setup to grow and take available space */
  justify-content: space-between; /* Space out children elements to push the button to the bottom */
}

.quiz-setup p {
  width: 100%;
  text-align: center;
}

#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjusted gap for better spacing */
  width: 100%;
}

#button-container button {
  width: 100%;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

#difficolta {
  width: 100%;
}

.question-text {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.flag-image {
  width: 100px;
  height: auto;
  margin: 20px auto;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.final-score {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.quiz-btn {
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.quiz-btn:hover {
  box-shadow: none;
}

/* Regola per cambiare il colore del bottone selezionato */
button.selected {
    background-color: orange; /* Colore arancione quando il bottone è selezionato */
    color: white;
}

